@page "/"
@using Icons = Phosphor.Components.Icons

<PageTitle>Home</PageTitle>

<h1>Phosphor Icons Demo</h1>

Welcome to your new app.

<!-- Using the Phosphor icon library -->
<div style="font-size: 42px">
  <i class="ph ph-smiley"></i>
  <i class="ph ph-fill ph-heart" style="color: hotpink"></i>
  <i class="ph ph-thin ph-cube"></i>
</div>

<!-- Usage -->
<div>
  <MudIcon Icon="@Icons.Phosphor.Regular.Smiley" Title="Smiley"/>
  <MudIcon Icon="@Icons.Phosphor.Regular.Heart" Title="Heart"/>
  <MudIcon Icon="@Icons.Phosphor.Regular.Cube" Title="Cube"/>
  <MudIcon Icon="@Icons.Phosphor.Regular.Airplane" Title="Airplane"/>
  <MudIcon Icon="@Icons.Phosphor.Regular.Balloon" Title="Balloon"/>
  <MudIcon Icon="@Icons.Phosphor.Regular.Hamburger" Title="Hamburger"/>
</div>

<!-- Color -->
<div>
  <MudIcon Icon="@Icons.Phosphor.Regular.Radioactive" Color="Color.Default" />
  <MudIcon Icon="@Icons.Phosphor.Regular.Radioactive" Color="Color.Primary" />
  <MudIcon Icon="@Icons.Phosphor.Regular.Radioactive" Color="Color.Secondary" />
  <MudIcon Icon="@Icons.Phosphor.Regular.Radioactive" Color="Color.Success" />
  <MudIcon Icon="@Icons.Phosphor.Regular.Radioactive" Color="Color.Info" />
  <MudIcon Icon="@Icons.Phosphor.Regular.Radioactive" Color="Color.Warning" />
  <MudIcon Icon="@Icons.Phosphor.Regular.Radioactive" Color="Color.Error" />
  <MudIcon Icon="@Icons.Phosphor.Regular.Radioactive" Color="Color.Dark" />
</div>

<!-- Size -->
<div>
  <MudIcon Icon="@Icons.Phosphor.Regular.Radioactive" Size="Size.Small" />
  <MudIcon Icon="@Icons.Phosphor.Regular.Radioactive" Size="Size.Medium" />
  <MudIcon Icon="@Icons.Phosphor.Regular.Radioactive" Size="Size.Large" />
</div>

<!-- Variants -->
<div>
  <MudIcon Icon="@Icons.Phosphor.Regular.ThumbsUp" Style="font-size: 4rem;" />
  <MudIcon Icon="@Icons.Phosphor.Regular.ThumbsUp"  Style="font-size: 4rem;" />
  <MudIcon Icon="@Icons.Phosphor.Regular.ThumbsUp"  Style="font-size: 4rem;" />
  <MudIcon Icon="@Icons.Phosphor.Regular.ThumbsUp"  Style="font-size: 4rem;" />
  <MudIcon Icon="@Icons.Phosphor.Regular.ThumbsUp"  Style="font-size: 4rem;" />
  <MudIcon Icon="@Icons.Phosphor.Regular.ThumbsUp"  Style="font-size: 4rem;" />
</div>
